@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary_color: #f76a2a;
  --dark_color: #011627;
  --dark_gray: #7e7e7e;
  --deep_dark_gray: #494949;
  --borderColor: gainsboro;
  --background_color: rgb(241, 241, 241);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  font-family: 'Montserrat', latin;
}

.bookNowBtn, .bookNowBtn1 {
  background-color: var(--primary_color);
  border: 1px solid var(--primary_color);
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 40px;
  margin-top: 25px;
  transition: all .5s;
}
.bookNowBtn:hover {
  background-color: transparent;
  color: white;
}
.bookNowBtn1:hover {
  background-color: transparent;
  color: var(--primary_color);
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
p{
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}

@media (max-width: 768px) {
  p{
    font-size: 16px;
  }
}