@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary_color:  #F76A2A;
  --dark_color: #011627;
  --dark_gray: #7e7e7e;
  --deep_dark_gray: #494949;
  --borderColor: gainsboro;
  --background_color: rgb(241, 241, 241);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.bookNowBtn{
  border: 1px solid var(--primary_color);
    padding: 10px 20px;
    background-color: var(--primary_color);
    color: white;
    margin-top: 50px;
    border-radius: 5px;
    transition: all .5s;
}