@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary_color:  #F76A2A;
  --dark_color: #011627f1;
  --dark_color_one: #20313B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
